<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >
  
  <variable name="detailedLayout" value="[${uppercase:${level}}][${longdate}][${machinename}][${processname}][${threadid}][${logger}] - ${message}${when:when='${exception}' != '':inner=${newline}}${exception:format=tostring,StackTrace}"/>
  <variable name="emailLayout" value="[${uppercase:${level}}][${longdate}][${logger}] - ${message}${when:when='${exception}' != '':inner=${newline}}${exception:format=tostring,StackTrace}${newline}"/>
  
  <targets>
    <target name="AsyncErrorLogFile" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Grow">
      <target xsi:type="File" name="file" fileName="${basedir}/logs/${shortdate}/Error.log"
              layout="${detailedLayout}" />
    </target>
    <target name="AsyncErrorMail" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Grow">
      <target name="Email" xsi:type="Mail" subject="[${processname}] on [${machinename}]"
              layout="${emailLayout}"
              smtpServer="email.feisystems.com" smtpPort="25" from="ltss@feisystems.com" to="dummy@feisystems.com" />
      <!--cc="Yanfeng.Tian@feisystems.com" -->
    </target>

    <target name="AsyncFullLogFile" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Grow">
      <target xsi:type="File" name="file" fileName="${basedir}/logs/${shortdate}/Full.log"
              layout="${detailedLayout}" />
    </target>

    <target name="AsyncConsole" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Grow">
      <target name="Console" xsi:type="ColoredConsole" layout="${detailedLayout}" />
    </target>
  </targets>

  <rules>
    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
    <!--<logger name="*" minlevel="Error" writeTo="AsyncErrorMail" />-->
    <logger name="*" minlevel="Error" writeTo="AsyncErrorLogFile" />
    <logger name="*" minlevel="Debug" writeTo="AsyncFullLogFile" />
    <logger name="*" minlevel="Debug" writeTo="AsyncConsole" />
  </rules>
</nlog>